  {
    "tabWidth": 4,
    "bracketSameLine": true,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "useTabs": true,
    "bracketSpacing": true
  }